input[type=text] {
  padding: 8px 16px;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 4.5px;
  width: 80%;
  height: 50px;
  margin-top: 10px;
  font-size: 0.89em;
}

form{
   margin-left: 17%;
}
.radio-toolbar {
  margin: 10px;
}
.element{
 margin-top: 20px;
}

input[type="radio"]:hover {
cursor: pointer;
}
label{
	font-size: 1.36em;
	margin-top: 10px;
}
button[type="submit"]{
	background-color: #000000;
        width: 20%;
	color: #ffffff;
	height: 35px;
	cursor: pointer;
	margin-top: 10px;  
        margin-left:30%;
	font-size: 1.29em;
	font-family: 'Sniglet', cursive;

}
button[type="submit"]:hover{
	background-color: #EEE8AA;
	color: #111111;
}

textarea {
  padding: 8px 16px;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 4.5px;
  width: 80%;
  height: 150px;
  margin-top: 10px;
  font-size: 0.89em;
}

